main {
  background-color: #383a3f;
}
#enterforum {
  height: 70vh;
  background-image: url(/images/footballbg.jpg);
  background-size: cover;
  background-position: bottom;
  color: white;
}
#mynav {
  background-color: #f6b352;
  border-radius: 10px;
}
#mysearchf {
  width: 40vw;
}
nav {
  margin-top: 5vh;
  margin-bottom: 15vh;
}
.forumimg {
  width: 100%;
}
.mylikebar {
  font-size: 2.5vw;
  color: #f6b352;
}
.card {
  background-color: #1f2124;
}
.myfnav {
  background-color: #151718;
  border-radius: 0px 0px 10px 10px;
}
.mycard {
  width: 90%;
}
.concard {
  margin-bottom: 5vh;
}
li {
  transition: trasform 1s;
}
li:hover {
  transform: scale(1.1);
}
.date {
  display: flex;
  justify-content: end;
  font-size: small;
}
