body {
  margin: none;
}
h1 {
  font-family: "Playfair Display", serif;
  font-weight: bolder !important;
}
h3 {
  font-family: "Playfair Display", serif;
  font-weight: bold;
}
@media screen and (min-width: 576px) {
  .wideposters {
    width: 50vw;
    height: 60vh;
  }
  #mobileposter {
    height: 50vh;
  }
  .app-badge {
    height: 6vh;
  }
}
@media screen and (min-width: 768px) {
  #mobileposter {
    height: 80vh;
  }
  .app-badge {
    height: 7vh;
  }
}
@media screen and (max-width: 576px) {
  .app-badge {
    height: 5vh;
  }
  #hometopimg {
    height: 30vh;
    width: 90vw;
  }
  .intro {
    background-color: #e9f1f3;
  }
  .foruminfo {
    background-color: #24303c;
    position: relative;
    color: rgb(255, 255, 255);
  }
  #fbbanner1 {
    position: absolute;
    top: 0vh;
    right: 0vw;
    filter: opacity(0.25);
    width: 50vw;
    height: 20vh;
  }
  #fbbanner2 {
    position: absolute;
    bottom: 0vh;
    left: 0vw;
    filter: opacity(0.25);
    width: 50vw;
    height: 20vh;
  }
  #anibanner1 {
    position: absolute;
    top: 0vh;
    right: 0vw;
    filter: opacity(0.25);
    width: 50vw;
    height: 20vh;
  }
  #anibanner2 {
    position: absolute;
    bottom: 0vh;
    left: 0vw;
    filter: opacity(0.25);
    width: 50vw;
    height: 20vh;
  }
  #techbanner1 {
    position: absolute;
    bottom: 0vh;
    left: 0vh;
    width: 50vw;
    height: 20vh;
    filter: opacity(0.25);
  }
  #techbanner2 {
    position: absolute;
    top: 3vh;
    right: 3vh;
    width: 50vw;
    height: 20vh;
    filter: opacity(0.25);
  }
  #sneakerbanner1 {
    position: absolute;
    bottom: 0vh;
    right: 0vh;
    width: 50vw;
    height: 20vh;
    filter: opacity(0.25);
  }
  #sneakerbanner2 {
    position: absolute;
    top: 0vh;
    left: 0vh;
    width: 50vw;
    height: 20vh;
    filter: opacity(0.25);
  }
}
